Vagrant.configure('2') do |config|

  config.vm.box = ""
  config.vm.box_url = ""
  config.vm.network :private_network, ip: ""

  config.vm.provider :digital_ocean do |provider, override|
    override.ssh.private_key_path = '~/.ssh/id_rsa'
    override.vm.box = 'digital_ocean'
    override.vm.box_url = "https://github.com/smdahlen/vagrant-digitalocean/raw/master/box/digital_ocean.box"

    provider.client_id = 'YOUR CLIENT ID'
    provider.api_key = 'YOUR API KEY'
    provider.image = 'YOUR SNAPSHOT NAME'
    provider.size = 'SIZE OF DROPLET'
  end

  config.vm.provider "virtualbox" do |v|
    v.memory = 2048
  end

end